<!-- Welcome section starts -->
<div class="rk-carousel-container"/></div>

<!-- Welcome section ends -->

{% schema %}
  {
    "name": "Reelkart Carousel",
    "target": "section",
    "enabled_on": {
      "templates": ["*"],
      "groups": ["*"]
    },
    "stylesheet": "reelkart-sdk.css",
    "javascript": "reelkart-sdk.js",
    "settings": [
        { "label": "Reelkart", "id": "color", "type": "color", "default": "#000000" }
    ]
  }
{% endschema %}